.logo{
	position:relative;
	margin-left: auto; 
	margin-right: auto;
}

.login_form{
	clear: both;
	margin-left: auto; 
	margin-right: auto;
	position:relative;
	top:50px;
	width: 300px;
}
.subtitle{
	font-size: 20px;
	color: #000000;
	font-family: "Comic Sans MS", cursive, sans-serif;	
}
.text{
	font-size: 15px;
	color: #C0C080;
	position:relative;
	top:25px;
	table-layout: fixed; 
	background: #dedede url(images/1241251021-624-3.gif) repeat;
	overflow: hidden;
	font-family: "Comic Sans MS", cursive, sans-serif;	
}
.text2{
	font-size: 12px;
	color: #C0C080;
	background: #dedede url(images/1241251021-624-3.gif) repeat;
	overflow: hidden;
	font-family: "Comic Sans MS", cursive, sans-serif;	
	 
}
.text3{
	font-size: 15px;
	color: #C0C080;
	width : 1000px; 
	table-layout: fixed; 
	font-family: "Comic Sans MS", cursive, sans-serif;
	background: #dedede url(images/1241251021-624-3.gif) repeat;
	overflow: hidden;
}
.albumText{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #C0C080;
}
.albumText_dark{
	display: block;
	width: 600px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #000000;
	margin: 0 auto;
}
.inputbox{
	width: 200px;
	height: 20px;
}
.inputbox_Edit{
	width: 180px;
	height: 20px;
}
.selectBox{
	width: 300px;
	height: 80px;
}
.selectBox_Edit{
	width: 180px;
	height: 80px;
}
.button_tiny{
	width: 35px;
	height: 30px;
}
.button_small{
	width:50px;
	height: 30px;
}
.button{
	width: 70px;
	height: 30px;
}
.button_medium{
	width: 100px;
	height: 30px;
}
.button_long{
	width: 120px;
	height: 30px;
}
.button_longer{
	width: 150px;
	height: 30px;
}


.menu_item
{
	width:118px;
	height: 40px; 
	float:left;
	text-align:center;
	font-size:18px;
	line-height: 40px;
	margin-top:20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background: url("images/button_2.png");
	vertical-align: middle;
	text-decoration:none;
	border: 1px solid green;
}

.menu_item:hover {background: url("images/button.png")}  /* mouse over link */
.menu
{
	margin-left: auto; 
	margin-right: auto;
	width: 720px;
	display: block;
	font-size:20px;
	color: green;
	clear: both;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.menu2{
	margin-left: auto; 
	margin-right: auto;
	width: 300px;
	display: block;
	font-size:20px;
	color: green;
	clear: both;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.table
{
	clear: both;
	margin-left: auto; 
	margin-right: auto;	
}

.border_bottom{
	font-size: 12px;
	font-family: "Comic Sans MS", cursive, sans-serif;	
	color: #C0C080;
	border-bottom: 1pt solid white;
	table-layout: fixed; 
}
#name, #caption{
	text-align:center;
}

#error_msg{
	color: red;
	clear: both;
}
#albumList{
	width: 200px;
}
#forms_one_line{
	float:left;
}
#forms_one_line2{
	
}
#albumName{
	
}
#searchBox{
	position: absolute;
	top: 89px;
	left: 37%;
}
body{
	background-image:url("images/ushwf-background.jpg");
}
td{
overflow: hidden;
}
input, textarea{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#next:link {color:#C0C080;}      /* unvisited link */
#next:visited {color:#C0C080;}  /* visited link */
#next:hover {color:#C0C080;text-decoration:underline;}  /* mouse over link */
#next:active {color:#C0C080;}
#previous:link {color:#C0C080;}      /* unvisited link */
#previous:visited {color:#C0C080;}  /* visited link */
#previous:hover {color:#C0C080;text-decoration:underline;}  /* mouse over link */
#previous:active {color:#C0C080;}
a{
text-decoration:none;
}